section {
       border: 2px solid red;
       display: flex;
     
       align-items: center;
       justify-content: space-between;
       padding: 20px;
       background-color: rgb(131, 199, 228);
     
 justify-content: center;

     }